
body{
    background-color: rgb(70, 70, 70);
    color :rgba(255, 255, 255, 0.301)   
    
    
}

.menu_bar{
    width: 100vh;
    height: 20px;
    background-color: rgb(155, 155, 155);

    
}

/* .menu_items_ul{

}


.menu_items_li{

} */
.navbar{
    height: auto;
    padding: 5px;
    background: rgb(43, 43, 43);
    color : white;
}
.hidden{
    display: none;
}