<!DOCTYPE html>
<html lang="en">

<head>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/context_menu_style.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="..\css\base.css">
    <link rel="stylesheet" href="..\css\sample_node.css">
    <link rel="stylesheet" href="..\css\bootstrap_override.css">
    <link rel="stylesheet" href="..\css\pattern.css">
    


    <meta charset="UTF-8">
    <title>you node pipeline</title>
</head>

<body>


    </div>
    <div class="w-100 vh-100 pattern-cross-dots-md" id="background" draggable="false">
        <nav class="navbar navbar-expand-lg navbar-dark" draggable="false">
            <a class="navbar-brand" href="#" draggable="false">Navbar</a>
            <button class="navbar-toggler" draggable="false" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon" draggable="false"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active dropdown" draggable="false">
                        <a class="nav-link" href="#" draggable="false">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown" draggable="false">
                        <a class="nav-link" href="#" draggable="false">Link</a>
                    </li>
                    <li class="nav-item dropdown" draggable="false">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>

        

        <div id="context-menu" draggable="false">
            <div class="item" id='create_node'>create Node</div>
            <div class="item" id="create_BasicNode">create BasicNode</div>

        </div>




</body>
<script type="module" src="..\js\classes.js"></script>
<script src="..\js\context_menu.js"></script>
<script type="module" src="..\js\spawn_node_from_menu.js"></script>
<script type="module" src="..\js\node_instantiate.js"></script>
<!-- <script type="module" src="..\js\shortcuts.js"></script> -->

</html>