<head>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="..\css\sample_node.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>



    <meta charset="UTF-8">
    <title>test node</title>
</head>

<div class="node_constructor" id="node_constructor_template">
    <div class="main_sq d-flex  flex-column" style="left: 30%; top: 35%; position: relative;">
        <div class="short_desc mb-auto">
            <textarea type="text" class="form-control form-control-sm" placeholder="short description"
                id="short_desc"></textarea>
            <small id="" class="text-muted input_help_text input_help_text">
                6-10 words recomended
            </small>
            <div class="more_btn"></div>
        </div>
        <div class="executor d-flex justify-content-between">
            <div class="exe_name align-middle">

                <input type="text" class="form-control form-control-sm" id="empl_name" placeholder="empl. name">


            </div>
            <div class="exe_slot">
                <input type="text" class="form-control form-control-sm right_side_input" id="empl_slot"
                    placeholder="empl. slot">
            </div>
        </div>
        <div class=" mt-auto  recource_sq ">
            <div class="time_sq d-flex  justify-content-between h-auto">
                <div class="key h-auto align-middle">
                    <h3>time</h3>
                </div>
                <div class="value h-auto ">
                    <input type="text" class="form-control right_side_input" placeholder="1.5h" id="t_value">
                </div>

            </div>
            <div class="money_sq d-flex justify-content-between h-auto ">

                <div class="key h-auto ">
                    <h3>money</h3>
                </div>
                <div class="value h-auto ">
                    <input type="text" class="form-control right_side_input" placeholder="12$" id="m_value">
                </div>

            </div>

        </div>
        <button type="button" class="btn btn-outline-light" id="edit_btn" onclick="">edit</button>
        <button type="button" class="btn btn-primary" id="submit_btn" onclick="">submit</button>
    </div>
</div>

<script src="../js/node_constructor_script.js"></script>