<head>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet"
  />


  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous"
  />
  <link rel="stylesheet" href="..\css\sample_node.css" />
  <script
    src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"
  ></script>
  <link rel="stylesheet" href="..\css\bootstrap_override.css">

  <meta charset="UTF-8" />
  <title>test node</title>
</head>
<div class="wrapper">
  <div class="" id="basic_node">
    <div
      class="base_card d-flex flex-column zoomable"
      style="left: 30%; top: 300px; position: relative; transform: scale(2)"
    >
      <div class="card_header d-flex justify-content-between">
        <button class="remove_btn">x</button>
        <div class=""><h2>id</h2></div>
      </div>
      <div class="short_desc mb-auto">
        <h1>протянуть поля в v_cust_org</h1>
        <div class="more_btn"></div>
      </div>
      <div class="executor d-flex justify-content-between">
        <div class="exe_name">
          <h2>Denis Vorobiev</h2>
        </div>
        <div class="exe_slot">
          <h2>Jun.Sft.Dev</h2>
        </div>
      </div>
      <div class="recource_sq">
        
          <div class="sub-reso d-flex justify-content-between h-auto">

            <div class="key h-auto">
              <h3>time</h3>
            </div>
            <div class="value h-auto right_side_align" id="value">
              <h2>2h</h2>
            </div>
          
          <!-- <div class="output"></div> -->
        </div>
        <div class="sub-reso d-flex justify-content-between h-auto">
          <div class="key h-auto">
            <h3>money</h3>
          </div>
          <div class="value h-auto right_side_align">
            <h2>100$</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="js/zoom_elements.js"></script>
<script src="js/json_html_serde.js"></script>
